<template>
    <div>
        <div v-if="checkCondition()" id="element"></div>
    </div>
</template>

<script>
import MultipleBannerTerm from '@/vendor/BannerTerm/';

export default {
    name: 'testFilter',
    props: {
        conditions: Object,
        env: Object,
    },

    methods: {
        checkCondition() {
            return new MultipleBannerTerm(this.conditions, this.env);
        },
    },
}
</script>
