<template>
    <div v-bind:id="`banner${current.tree ? `-${current.tree.zoneId}` : ''}-${current.id}${idExpand}`" style="min-height:10px; min-width:10px"></div>
</template>

<script>
/* eslint-disable */
import Banner from '../models/Banner';
import style from '../mixins/style';
// import * as screen from '../vendor/util/screen';
import Observer from '../vendor/util/observer';
import * as iFrmFunc from '../vendor/util/handleHTML/iframe';
import msgHandler from '../vendor/util/messageHub/messageHandler';
// import DetectDevice from '../vendor/util/detectDevices';
import Query from '../vendor/util/query';
import HtmlHandle from '../vendor/util/handleHTML/htmlHandle';
import installScript from '../vendor/util/handleHTML/installScript';
import { domain } from '../config';

export default {
  name: 'banner',
  props: {
    model: {
      type: Object,
    },
  },

  data() {
    return {
      zoneId: null,
      shareId: null,
      placementId: null,
      id: null,
      idExpand: null,
      outputCss: null,
      bannersRendered: [],
      activeBanner: null,
      isPreview: false,
      renderFrom: null,
      originalData: null,
      displayOfTemp: '',
      status: false,
      // device: new DetectDevice(),
      isMobile: null,
      revenueType: null,
      isRendered : false,
      isPostMessage: false,
    };
  },

  watch: {
    model() {
      try {
        this.id = this.model.id;
        this.zoneId = this.model.tree ? this.model.tree.zoneId : null;
        this.shareId = this.model.tree ? this.model.tree.shareId : null;
        this.placementId = this.model.tree ? this.model.tree.placementId : null;
        this.renderFrom = this.model.renderFrom;
      } catch (error) {
        //
      }
    },
  },

  mixins: [style],

  computed: {
    current() {
      return this.model instanceof Banner ? this.model : new Banner(this.model);
    },
  },

  created() {
    if (!this.originalData) {
      this.originalData = this.model;
    }
    this.id = this.model.id;
    this.zoneId = this.model.tree ? this.model.tree.zoneId : null;
    this.shareId = this.model.tree ? this.model.tree.shareId : null;
    this.placementId = this.model.tree ? this.model.tree.placementId : null;
    this.isPreview = this.$store.state.IS_PREVIEW;
    this.renderFrom = this.model.renderFrom;

    const zoneData = new Query(this.$store).getZone('id', this.zoneId)[0];
    this.isMobile = zoneData ? zoneData.isMobile : false;

    this.revenueType = this.model.revenueType;

    this.getExpandId();
  },

  mounted() {
    const vm = this;
    this.loggingTrueView(() => {
      const trackingViews = this.$store.state.TRACKING_VIEW.filter(item => item.type === 2 && this.id === item.bid);
      for (let index = 0; index < trackingViews.length; index += 1) {
        const trackingView = trackingViews[index];
        if (typeof trackingView.callback === 'function') trackingView.callback();
      }
      this.$el.style.minHeight = 0;
      this.$el.style.minWidth = 0;
    });
    this.loggingView();
    this.renderBanner((bannerContent) => {
      this.trackingRenderStatus(bannerContent);
      this.loggingRenderBannerDone();
      this.loggingLoadingSlow();

      // load core banner tracking ssp
      window.isInstallBanTrackingJS = false;
      setTimeout(() => {
        if (!(vm.current.sspTracking() && vm.current.isForceSSp()) || window.isInstallBanTrackingJS) return;
        let coreUrl = '';
        if (vm.current.isMobile()) {
          coreUrl = `${domain.domainCore.url}${domain.domainCore.bantrackingmb}`;
        } else {
          coreUrl = `${domain.domainCore.url}${domain.domainCore.bantracking}`;
        }
        window.isInstallBanTrackingJS = true;
        installScript(null, coreUrl);
      }, 300);

      this.status = true;
    }, () => {
      this.loggingRenderError();
    });
  },

  beforeUpdate() {
    this.fixEl(); // re-append if component've not inject to dom yet.
    this.deactiveSlots();
  },

  updated() {
    this.fixEl(); // re-append if component've not inject to dom yet.
    if (this.bannersRendered.filter(item => item.bannerId === this.current.id).length > 0) {
      this.activeSlot();
    } else {
      if (this.renderFrom === 'roting') this.loggingLoadExtra();
      if (this.renderFrom === 'redraw') this.loggingCallback();
      this.renderBanner(() => {
        //
      });
    }
  },

  methods: {
    /**
     * check component've injected to dom yet.
     */
    isExistVueElement() {
      const VueId = this.$el.id;
      return document.getElementById(VueId);
    },
    /**
     * re-append if component've not inject to dom yet.
     */
    fixEl() {
      if (!this.isExistVueElement()) {
        this.$parent.$el.appendChild(this.$el);
      }
    },
    /**
     * show active slot.
     */
    activeSlot() {
      const currentSlot = this.bannersRendered.filter(item => item.bannerId === this.current.id)[0];
      try {
        if (currentSlot) {
          document.getElementById(currentSlot.slotId).style.display = '';
        }
      } catch (error) {
        //
      }
    },
    /**
     * @param bannerId
     * hide slot of banner not active.
     */
    deactiveSlot(bannerId) {
      const currentSlot = this.bannersRendered.filter(item => item.bannerId === bannerId)[0];
      try {
        if (currentSlot) {
          document.getElementById(currentSlot.slotId).style.display = 'none';
        }
      } catch (error) {
        //
      }
    },
    /**
     * hide all slot of banner not active.
     */
    deactiveSlots() {
      this.bannersRendered.map((item) => {// eslint-disable-line
        this.deactiveSlot(item.bannerId);
      });
    },
    /**
     * @param iFrame
     * resize iframe for fit content.
     */
    resizeIframe(iFrame) {
      /* eslint-disable */
      try {
        iFrame.width = iFrame.contentWindow.document.body.scrollWidth;
        iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
      } catch (error) {
        console.log('ArfError from resizeIframe', error);
      }
      /* eslint-enable */
    },
    /**
     * @param el: element wrap banner(HTML element or '#id').
     * @param bannerContent: banner content.
     * @param doneCallback: callback after write banner done.
     */
    writeBannerHTML5(el, doneCallback, errorCallback) {
      const iframeHandler = new iFrmFunc.IframeHandler(this, () => {
        this.resizeIframe(iframeHandler.el);
        this.configIframe(iframeHandler.el);
        doneCallback();
      }, (this.isMobile));

      if (this.current.isIFrame && this.current.bannerHtmlType && this.current.bannerHtmlType.value === 'banner-html5') {
        this.writeBannerInIframe(el, iframeHandler.el, null, errorCallback);
      } else {
        let container;
        // id selector
        if (/^#/.test(el)) {
          container = document.getElementById(el.substr(1));
        } else {
          container = el.jquery ? el[0] : el;
        }

        container.appendChild(iframeHandler.el);
      }

      return iframeHandler;
    },
    /**
     * @param el: element wrap banner(HTML element or '#id').
     * @param bannerContent: banner content.
     * @param doneCallback: callback after write banner done.
     */
    writeBannerInIframe(el, bannerContent, doneCallback, errorCallback) {
      const vm = this;
      try {
        const iframe = document.createElement('iframe');
        iframe.style.display = 'block';
        const isMobile = this.isMobile;
        /* setup observer for iframe automatic resize base on content */
        const callback = (mutationsList) => {
          for (let i = 0; i < mutationsList.length; i += 1) {
            if (mutationsList[i].type === 'attributes') {
              vm.resizeIframe(iframe);
            }
            if (mutationsList[i].type === 'childList') {
              vm.resizeIframe(iframe);
            }
            if (mutationsList[i].type === 'characterData') {
              vm.resizeIframe(iframe);
            }
            if (mutationsList[i].type === 'subtree') {
              vm.resizeIframe(iframe);
            }
          }
        };
        const observer = new Observer(callback);
        /* end */
        iframe.onload = () => {
          // Prevent AppleWebKit iframe.onload loop
          if (vm.$data.isRendered) {
            return;
          }
          vm.$data.isRendered = true;

          iframe.width = isMobile ? vm.$el.clientWidth : vm.current.width;
          iframe.height = vm.current.height;
          if (isMobile) {
            iframe.style.left = 0;
          }
          iframe.id = `iframe${this.current.tree ? `-${this.current.tree.zoneId}` : ''}-${vm.current.id}`;
          iframe.frameBorder = 0;
          iframe.marginWidth = 0;
          iframe.marginHeight = 0;
          iframe.scrolling = 'no'; // Prevent iframe body scrolling

          if (typeof bannerContent === 'string') {
            iframe.contentWindow.document.open();
            iframe.contentWindow.document.write(bannerContent);
            iframe.contentWindow.document.close();
          } else if (typeof bannerContent === 'object') {
            iframe.contentWindow.document.body.appendChild(bannerContent);
          }

          // Prevent scroll on IE
          if (iframe.contentWindow.document.body !== null) {
            iframe.contentWindow.document.body.style.margin = 0;
          }

          /* start observer iframe */
          observer.start(iframe.contentWindow.document.documentElement || iframe.contentDocument.documentElement);
          if (doneCallback) doneCallback(bannerContent);
        };

        observer.disconnectAfter(5000, () => {
          vm.resizeIframe(iframe);
        });

        let container;
        // id selector
        if (/^#/.test(el)) {
          container = document.getElementById(el.substr(1));
        } else {
          container = el.jquery ? el[0] : el;
        }

        container.appendChild(iframe);
        this.configIframe(iframe);
      } catch (error) {
        if (errorCallback) errorCallback();
      }
    },
    /**
     * @param el: element wrap banner(HTML element or '#id').
     * @param bannerContent: banner content.
     * @param doneCallback: callback after write banner done.
     */
    writeBannerWithoutIframeSupportDocumentWrite(el, bannerContent, doneCallback, errorCallback) {
      const vm = this;
      this.$writeDomAsync(el, bannerContent, {
        avoidConflictDocWrite: !this.isPreview,
        error(e) {
          if (errorCallback) errorCallback();
          console.log('render banner error!', e);
        },
        done() {
          if (doneCallback) doneCallback(bannerContent);
        },
      });
      // fallback if this method cannot write.
      setTimeout(() => {
        const childCount = el.childElementCount;
        if (childCount <= 0) {
          vm.writeBannerWithoutIframe(el, bannerContent, doneCallback, errorCallback);
        }
      }, 3000);
    },
    /**
     * @param el: element wrap banner(HTML element or '#id').
     * @param bannerContent: banner content.
     * @param doneCallback: callback after write banner done.
     */
    writeBannerWithoutIframe(el, bannerContent, doneCallback, errorCallback) {
      try {
        HtmlHandle(bannerContent, el).injecttHTMLAfterBegin();
        if (doneCallback) doneCallback();
      } catch (error) {
        if (errorCallback) errorCallback();
      }
    },
    /**
     * @function renderBanner is main render decide to what render-function is chosen.
     * @param doneCallback: callback after banner render done.
     */
    renderBanner(doneCallback, errorCallback) {
      const vm = this;
      const htmlData = vm.current.bannerContent();
      const slotId = `slot-${this.bannersRendered.length + 1}${this.current.tree ? `-${this.current.tree.zoneId}` : ''}-${this.current.id}${this.idExpand}`;
      const slot = document.createElement('div');
      slot.id = slotId;
      this.$el.appendChild(slot);
      let iframeHtml5;
      console.log('htmlData', this.id, htmlData);
      if (vm.current.isIFrame && ((vm.current.bannerHtmlType && vm.current.bannerHtmlType.value !== 'banner-html5') || !vm.current.bannerHtmlType)) {
        console.log('renderMethod: writeBannerInIframe');
        this.writeBannerInIframe(slot, htmlData, doneCallback, errorCallback);

        window.addEventListener('message', (event) => {
          if (typeof event.data === 'object' && event.data.name === 'ArfHtml5' && event.data.iframeId.indexOf(vm.id) !== -1 && event.data.iframeId.indexOf(vm.current.tree.zoneId) !== -1) {
            console.log('CheckRenderDoneArfHtml5Core', event.data);
            vm.controlHtml5Iframe(slotId, null, 0);
          }
        }, false);
      } if (vm.current.bannerHtmlType && vm.current.bannerHtmlType.value === 'banner-html5') {
        console.log('renderMethod: writeBannerHTML5');
        iframeHtml5 = this.writeBannerHTML5(slot, doneCallback, errorCallback);
      } else if (!vm.current.isIFrame) {
        const isDocumentWrite = (vm.current.isDocumentWrite === undefined ? true : vm.current.isDocumentWrite)
         && !(vm.current.bannerType.isUpload && vm.current.bannerType.value === 'img');
        if (isDocumentWrite) {
          console.log('renderMethod: writeBannerWithoutIframeSupportDocumentWrite');
          this.writeBannerWithoutIframeSupportDocumentWrite(slot, htmlData, doneCallback, errorCallback);
        } else {
          console.log('renderMethod: writeBannerWithoutIframe');
          this.writeBannerWithoutIframe(slot, htmlData, doneCallback, errorCallback);
        }
      }
      this.bannersRendered.push({ slotId, bannerId: this.current.id });

      vm.controlHtml5Iframe(slotId, iframeHtml5);
    },

    controlHtml5Iframe(slotId, iframeHtml5, timeout) {
      setTimeout(() => {
        if (this.isPostMessage) return;
        this.isPostMessage = true;
        const targetIfrm = this.findIframeContainHTML5(slotId);
        if (targetIfrm) {
          const ifrmWindow = targetIfrm.contentWindow;
          this.trackingElementInViewport(
            () => {
              console.log('postStart', slotId);
              ifrmWindow.postMessage('start', '*');
              if (iframeHtml5) iframeHtml5.watch();
            },
            () => {
              console.log('postPause', slotId);
              ifrmWindow.postMessage('pause', '*');
              if (iframeHtml5) iframeHtml5.stopWatch();
            }
          );
        }
      }, timeout || 5000);
    },
    /**
     * @function loggingView to logging view for banner.
     * logged after banner is writen box.
     */
    loggingView() {
      this.current.logging(0); // logging banner view
    },
    /**
     * @function loggingTruView: this logging true view for banner.
     * logged after banner stay in viewport and banner's area at least 30%.
     */
    loggingTrueView(callback) {
      const vm = this;
      const visibility = this.$viewTracking(vm.$el);
      visibility.onPercentageTimeTestPassed((monitor) => {
        if (vm.renderFrom === 'normal') {
          vm.current.logging(2);
          if (callback) callback();
          monitor.stop();
          console.log('loggingTrueView', vm.id);
        };
      }, {
        percentageLimit: 0.25,
        timeLimit: 500,
        interval: 50,
      });
    },
    loggingLoadExtra() {
      console.log('loggingLoadExtra', this.id);
      this.current.logging(3);
    },
    /** @function loggingRenderError: this logging render error for banner.
     *
     */
    loggingRenderError() {
      return;
      console.log('loggingRenderError', this.id);
      this.current.logging(4);
    },
    loggingRenderBannerDone() {
      return;
      console.log('loggingRenderBannerDone', this.id);
      this.current.logging(5);
    },
    loggingLoadingSlow() {
      return;
      const vm = this;
      setTimeout(() => {
        const bannerHeight = vm.$el.offsetHeight;
        console.log('loggingLoadingSlow', this.id, bannerHeight);
        if (bannerHeight <= 10) this.current.logging(6);
      }, 3000);
    },
    loggingCallback() {
      return;
      console.log('loggingCallback', this.id);
      const originalData = new Banner(this.originalData);
      originalData.logging(2);
      originalData.logging(7); // cov = 7 : log banner callback.
      this.current.logging(77); // log banner render from callback
    },
    trackingElementInViewport(inviewCallback, outViewCallback) {
      const vm = this;
      const objetcMonitor = vm.$viewTracking(this.$el);
      objetcMonitor.checkView({
          inView(monitor) {
            console.log('true view', vm.id);
            if (inviewCallback) inviewCallback(monitor);
          },
          outView(monitor) {
            console.log('out view', vm.id);
            if (outViewCallback) outViewCallback(monitor);
          },
          config: {
            percentageLimit: 0.25,
            timeLimit: 100,
            interval: 100,
          },
        });
    },
    /**
     * @param targetDivId: is slot of banner
     * @function findIframeContainHTML5: it detect what iframe is running banner html5.
     */
    findIframeContainHTML5(targetDivId) {
      try {
        let isMatch = false;
        let currentIframe = document
          .getElementById(targetDivId)
          .getElementsByTagName('iframe')[0];
        while (!isMatch) {
          if (!currentIframe.src) {
            currentIframe = currentIframe.contentDocument.getElementsByTagName('iframe')[0];
            continue;
          }
          isMatch = true;
        }
        return currentIframe;
      } catch (error) {
        return null;
      }
    },
    hanndleIframeMsg(ifrm) {
      msgHandler.handlerAll(this.id, ifrm);
    },
    configIframe(targetIfrm) {
       try {
        //  if (this.isMobile) return;
        // new iFrmFunc.ConfigIframe(targetIfrm).setId(this.id);
        this.hanndleIframeMsg(targetIfrm);
        this.$store.watch(state => state.MESSAGE, () => {
          this.hanndleIframeMsg(targetIfrm);
        });
      } catch(error) {
        console.log('ArfError from configIframe', error);
      }
    },
    trackingRenderStatus(bannerContent) {
      const status = {};
      status.bannerId = this.id;
      status.bannerContent = bannerContent;
      this.status = status;
      this.$parent.$emit('renderBannerDone', this.status);
    },
    getExpandId() {
      this.idExpand = this.$parent.$data.idExpand;
    },
  },
};
</script>
