<template>
    <div v-bind:id="`placement-${id}${idExpand}`" :revenue="current.revenueType">
        <banner v-if="activeBannerModel" v-bind:model="activeBannerModel"></banner>
    </div>
</template>

<script>
  import Banner from './Banner';
  import Placement from '../models/Placement';
  import style from '../mixins/style';

  export default {
    components: { Banner },
    name: 'placement',
    props: {
      model: {
        type: Object,
      },
    },

    data() {
      return {
        zoneId: null,
        shareId: null,
        id: null,
        idExpand: null,
        revenueType: null,
        activeBannerModel: null,
        positionOnShare: null,
        relative: null,
        bannersLoaded: [],
        outputCss: null,
        status: null,
        bannersDone: [], // list these banners render done.
      };
    },

    watch: {
      model() {
        this.setData();
        this.$forceUpdate();
      },
      bannersDone() {
        this.trackingRenderStatus();
      },
    },

    created() {
      /* set data from model to component's data */
      this.setData();
      /* after setdata() then send relative detail to states */
      // this.sendRelativeCodeToState();

      this.getExpandId();

      this.setCpdFlag(); // do this for sync cpd turn in each others.
      // this.setCpmFlag();
    },

    mixins: [style],

    computed: {
      current() {
        const placement = this.getData();
        this.$set(this, 'id', placement.id);
        this.$set(this, 'zoneId', placement.zoneId);
        return placement;
      },
    },

    beforeMount() {
      this.eventHandler();
    },

    mounted() {
      if (this.current.isRotate) {
        this.setupRotate();
      }
      this.reDraw();
    },

    methods: {
      getData() {
        return this.model instanceof Placement ? this.model : new Placement(this.model);
      },
      setData(type) {
        const placement = this.getData();

        let activeBanner;
        if (type === 'rotating') {
          activeBanner = placement.activeBanner(['rotate'], this.bannersLoaded);
          if (activeBanner) activeBanner.renderFrom = 'rotating';
        } else if (type === 'redraw') {
          activeBanner = placement.activeBanner(['redraw'], this.bannersLoaded);
          if (activeBanner) activeBanner.renderFrom = 'redraw';
          // else this.$store.commit('PUSH_ADD_SHARE_SIGN', this.current.tree.zoneId); // if re-draw placement run but this position dont have any banners to redraw, so add other share to draw.
        } else {
          activeBanner = placement.activeBanner();
          if (activeBanner) activeBanner.renderFrom = 'normal';
        }

        if (!activeBanner) return;

        if (this.bannersLoaded.length > 50) this.bannersLoaded = []; // clear memory
        this.bannersLoaded.push(activeBanner);

        if (!(type === 'rotating') && placement.relative) {
          this.$set(this, 'relative', placement.getRelative());
        }
        this.$set(this, 'id', placement.id);
        this.$set(this, 'activeBannerModel', activeBanner);
        this.revenueType = placement.revenueType;
        this.positionOnShare = placement.positionOnShare;
      },
      setupRotate() {
        const self = this;
        let rotateTime = this.current.rotateTime && !isNaN(this.current.rotateTime) ? parseInt(this.current.rotateTime, 10) * 1000 : this.$arfConfig.rotateConfig.share.default;
        if (rotateTime < 3000) rotateTime = this.$arfConfig.rotateConfig.rotate.placement.minimum;
        const objMonitor = this.$viewTracking(this.$el);
        let rotate;
        objMonitor.checkView({
          inView() {
            rotate = setInterval(() => {
              self.setData('rotating');
            }, rotateTime);
          },
          outView() {
            clearInterval(rotate);
          },
          config: {
            percentageLimit: 0.5,
            timeLimit: rotateTime,
            interval: 100,
          },
        });
      },
      sendRelativeCodeToState() {
        const relatives = this.current.getRelativeInSamePositionInZone();
        console.log('sendRelativeCodeToState', relatives);
        if (this.relative) {
          this.relative.check = true;
          this.$store.commit('SET_RELATIVE_PLACEMENT', this.relative);

          const relativesFalse = relatives.filter(item =>
           (item.campaignId !== this.relative.campaignId
          && item.relativeCode !== this.relative.relativeCode));

          relativesFalse.map((item) => { // eslint-disable-line
            item.check = false; // eslint-disable-line
            this.$store.commit('SET_RELATIVE_PLACEMENT', item);
          });
        } else {
          relatives.map((item) => { // eslint-disable-line
            item.check = false; // eslint-disable-line
            this.$store.commit('SET_RELATIVE_PLACEMENT', item);
          });
        }
      },
      reDraw() {
        const vm = this;
        this.$store.watch(state => state.REDRAW_SIGN, (REDRAW_SIGN_BEFORE, REDRAW_SIGN_AFTER) => {
          try {
            for (let i = 0; i < REDRAW_SIGN_AFTER.length; i += 1) {
              const { placementId } = REDRAW_SIGN_AFTER[i];
              const { isSolved } = REDRAW_SIGN_AFTER[i];
              if (placementId === this.id && !isSolved) {
                // do anything
                console.log('redraw', this.id, placementId);
                vm.setData('redraw');
                this.$store.state.REDRAW_SIGN[i].isSolved = true;
                // vm.$store.state.REDRAW_SIGN.splice(i, 1);
                break;
              }
            }
          } catch (err) {
            console.log('ArfError from reDraw placement', err);
          }
        });
      },
      eventHandler() {
        this.$on('renderBannerDone', (result) => {
          console.log('EventHandlerRenderBannerDone', result);
          this.bannersDone.push(result);
        });
      },
      trackingRenderStatus() {
        // tracking render done
        if (this.activeBannerModel && this.bannersDone.length === 1) {
          const result = {};
          result.placementId = this.id;
          result.revenueType = this.revenueType;
          result.positionOnShare = this.positionOnShare;
          result.bannerContent = this.bannersDone[0];
          this.$parent.$emit('placementRenderDone', result);
          this.status = true;
        }
      },
      getExpandId() {
        this.idExpand = this.$parent.$data.idExpand;
      },
      setCpdFlag() {
        if (this.$store.state.TOTAL_CPD_RUNNING.filter(item => item.cpd > 0 && item.zoneId === this.current.tree.zoneId).length > 0
        && this.current.revenueType === this.current.config.AdsType.revenueType.cpd.value) this.$store.commit('CPD_FORCE', true);
      },
      // setCpmFlag() {
      //   this.$store.commit('FULL_CPM', this.current.revenueType !== this.current.config.AdsType.revenueType.cpd.value);
      // },
    },
  };
</script>
