<template>
    <div v-bind:id="`share-${current.id}${idExpand}`">
        <placement v-for="(placement, index) in activePlacementsModels" :key="index" v-bind:model="placement"></placement>
    </div>
</template>



<script>
/* This css "" for avoid banner container div's height = 0 (it cause cannot count true view) when it's children use css float */
  import Share from '../models/Share';
  import Placement from './Placement';
  import style from '../mixins/style';
  import Turn from '../vendor/ArfStorage/storage/TrackLoad/Turn';
  import adsFormat from '../mixins/adsFormat';
  import Banner from '../models/Banner';

  export default {
    name: 'share',
    props: {
      model: {
        type: Object,
      },
    },

    data() {
      return {
        id: null,
        idExpand: null,
        zoneId: null,
        activePlacementsModels: [], // Data for render.
        placementsLoaded: [], // save placements loaded to avoid duplicate rotate placement.
        totalShare: 3, // default value, it can change if zone have difference config.
        isRotating: false, // rotate status.
        outputCss: null, // css for share div
        template: null, // template sticky, baloon, popup, ...
        status: false,
        placementsDone: [],
        isSaveLog: false,
      };
    },

    watch: {
      activePlacementsModels(value) { // eslint-disable-line
        if (this.isRotating) {
          // console.log('Rotate', value);
        }

        if (!this.isSaveLog && this.activePlacementsModels && !this.current.isExtra) {
          this.isSaveLog = true;
          this.saveTrackLoadData();
        }
      },
      model() {
        /* update data for render if model data change from zone. */
        this.setData(false);
      },
      placementsDone() {
        this.trackingRenderStatus(() => {
          // if (!this.current.isExtra) this.saveTrackLoadData();
        });
      },
    },

    mixins: [style, adsFormat],

    computed: {
      current() {
        return this.getData();
      },
    },

    components: { Placement },

    created() {
      this.getExpandId();
    },

    beforeMount() {
      this.eventHandler();
    },

    async mounted() {
      await this.setupFormat();
      this.setData(false);
      if (this.current.isRotate) {
        this.setupRotate();
      }
      if (this.placementsLoaded.length > 50) { // clear data
        this.placementsLoaded = [];
      }
    },

    beforeUpdate() {
      // this.$destroy();
    },

    updated() {
      //
    },

    methods: {
      /**
       * @returns Share Data model
       */
      getData() {
        return ((this.model instanceof Share) ? this.model : new Share(this.model));
      },
      /**
       * choose active placement model
       * @param isRotate: choosing mechanism chossing placement data model.
       *
       * @returns {Array.<PlacementModel>}
       */
      // async activeSharePlacementsModels(isRotate) {
      //   const currentShare = this.current;
      //   const activeSharePlacements = await currentShare.activeSharePlacements(isRotate);
      //   if (this.current.isAvailable()) {
      //     return activeSharePlacements;
      //   }
      //   return [];
      // },
      /**
       * setup data for render.
       * @param isRotating: perform placement rotating process.
       */
      async setData(isRotating) {
        try {
          this.$set(this, 'id', this.model.id);
          this.$set(this, 'zoneId', this.model.zoneId);
          this.$set(this, 'totalShare', this.model.totalShare);
          this.$set(this, 'outputCss', this.model.outputCss);

          if (this.model.isTemplate) this.$set(this, 'template', this.model.template);

          const share = this.current;
          const sharePlacements = share.activeSharePlacements(isRotating, this.placementsLoaded);
          const sharePlacementInvolves = share.type === this.$arfConfig.AdsType.shareType.single ? share.allSharePlacementsAvailable() : [];
          console.log('sharePlacementInvolves', this.id, sharePlacementInvolves);

           // this resource for re-draw placement.
          for (let i = 0; i < sharePlacements.length; i += 1) {
            sharePlacements[i].placement.bannerInvolves = sharePlacementInvolves
            .filter(item =>
             item.positionOnShare === sharePlacements[i].positionOnShare
             && item.placement.relative === 0
             && item.id !== sharePlacements[i].id
             && item.isFitArea(sharePlacements[i].area()))
            .map(item =>
            item.placement.banners
            .map((banner) => {
              banner.revenueType = item.placement.placementType(); // eslint-disable-line
              return banner instanceof Banner ? banner : new Banner(banner);
            })
            .filter(banner => banner.isAvailable()))
            .reduce((result, item) => (Array.isArray(result) ? result.concat(item) : item), 0) || [];
          }

          if (this.placementsLoaded.length > 150) this.placementsLoaded = []; // clear memory
          sharePlacements.map(item => this.placementsLoaded.push(item));
          this.$set(this, 'activePlacementsModels', sharePlacements.map(item => item.placement));
          this.$set(this, 'isRotating', isRotating);
        } catch (err) {
          throw err;
        }
      },
      /**
       * setup placement rotating process.
       */
      setupRotate() {
        const self = this;
        let rotateTime = this.current.rotateTime && !isNaN(this.current.rotateTime) ? parseInt(this.current.rotateTime, 10) * 1000 : this.$arfConfig.rotateConfig.rotate.share.default;
        if (rotateTime < 3000) rotateTime = this.$arfConfig.rotateConfig.rotate.share.minimum;
        const objMonitor = this.$viewTracking(this.$el);
        let rotate;
        objMonitor.checkView({
          inView() {
            console.log('runRotate');
            rotate = setInterval(() => {
              self.setData(true);
            }, rotateTime);
          },
          outView() {
            console.log('stopRotate');
            clearInterval(rotate);
          },
          config: {
            percentageLimit: 0.5,
            timeLimit: rotateTime,
            interval: 100,
          },
        });
      },
      /**
       * save data render to state.
       */
      saveTrackLoadData() {
        const currentShare = this.current;
        const activePlacements = this.activePlacementsModels;
        const totalShare = this.totalShare;
        const zoneId = this.zoneId;
        console.log('runSaveLogInShareComponent', zoneId);
        const store = this.$store;

        const turn = new Turn(activePlacements.map(item => ({ id: item.id, position: item.positionOnShare})), currentShare.id, [], store.state.PAGE_LOAD.activePageLoad.campaignId, store.state.FULL_CPM);
        console.log('checkPushTurn', { zoneId, turn });
        store.commit('TRACK_TURN', { zoneId, turn, totalShare, isPageLoad: currentShare.isPageLoad });
        store.commit('SAVE_TRACK_LOAD_DATA');
      },
      eventHandler() {
        this.$on('placementRenderDone', (result) => {
          this.placementsDone.push(result);
        });
      },
      trackingRenderStatus(shareRenderDoneCallback) {
        const renderDoneCondition = this.activePlacementsModels
        && this.activePlacementsModels.length > 0
        && this.placementsDone.length === this.activePlacementsModels.length;
        if (renderDoneCondition) {
          const result = this.placementsDone.map(item => ({
            positionOnShare: item.positionOnShare,
            revenueType: item.revenueType,
            bannerContent: item.bannerContent,
          }));
          this.status = {
            shareId: this.id,
            status: result,
          };
          if (shareRenderDoneCallback) shareRenderDoneCallback();
          this.$parent.$emit('shareRenderDone', this.status);
        }
      },
      getExpandId() {
        this.idExpand = this.$parent.$data.idExpand;
      },
    },
  };
</script>
