<template>
    <div v-bind:id="`zone-${current.id}${idExpand}`">
        <share v-if="activeShareModel" v-bind:model="activeShareModel"></share>
        <share v-for="(share, index) in extraShare" :key="index" v-bind:model="share"></share>
    </div>
</template>

<script>
  import Zone from '../models/Zone';
  import Share from './Share';
  import style from '../mixins/style';
  import adsFormat from '../mixins/adsFormat';

  export default {
    name: 'zone',
    components: { Share },
    props: {
      model: {
        type: Object,
      },
    },

    data() {
      return {
        id: null, // id của zone
        idExpand: '', // id phụ khi render 1 zone ra nhiều hơn 1 lần trên 1 lượt load
        activeShareModel: null, // share hiện tại được render
        outputCss: null, // css của zone
        template: null, // template của zone
        mainShareId: null,
        activeShares: [], // mảng các share render
        extraShare: [], // các share được render thêm
        totalShare: 3, /* default value */
        status: null, // render status
        sharesDone: [], // Chứa các share đã render xong
        groupSSP: null,
        done: false, // after render value will be true.
      };
    },

    watch: {
      sharesDone() {
        this.trackingRenderStatus(() => { // zone render done callback
          this.pushGroupSSP();
        });
      },
    },

    mixins: [style, adsFormat],

    computed: {
      current() {
        const zone = this.getData();
        zone.commitBanner();
        return zone;
      },
    },

    async created() {
      /* logging zone */
      this.current.logging();
      // this.model.hookToRenderNextZone();
      // this.current.clearHistoryNotUse();
      this.$set(this, 'id', this.current.id);
      this.$set(this, 'totalShare', this.current.totalShare);
      this.groupSSP = this.current.groupSSP;
      if (this.current.isTemplate) this.$set(this, 'template', this.current.template);
    },

    beforeMount() {
      this.generateIdExpand(); // do this for load 1 zone more than 1 times on a page.
      this.eventHandler();

      setTimeout(() => { // timeout to exec zone done.
        if (!this.done) {
          this.done = true;
          this.emitRenderDone();
          if (this.model.hookToRenderNextZone) this.model.hookToRenderNextZone();
        }
      }, 2000);
    },

    async mounted() {
      await this.current.initLibrary(() => {
        this.$store.commit('CORE_LOADED', this.current.id);
      });
      /* note: after inject zone then setupFormat() */
      this.model.el.replaceWith(this.$el); // inject zone to dom.
      await this.setupFormat();
      this.setData();
      this.pushShare();

      if (this.current.isMobile) {
        this.$el.style.width = '100%';
      }
       /* hidden zone if zone contain inside _ArfListZoneDisable */
      const listZoneDisable = window[this.$arfConfig.siteConfig.zonesDisable.name];
      if (Array.isArray(listZoneDisable) && listZoneDisable.indexOf(this.id) !== -1) {
        this.$el.style.display = 'none';
        return;
      }
    },

    methods: {
      getData() {
        return this.model.data.propsData.model instanceof Zone ? this.model.data.propsData.model : new Zone(this.model.data.propsData.model);
      },
      activeShare(avoidShares, isExtra, shareId) {
        return this.current.activeShare(avoidShares, isExtra, shareId);
      },
      setData(avoidShares, isExtra, shareId) {
        const activeShare = this.activeShare(avoidShares, isExtra, shareId);
        if (!activeShare) return null;
        // if (!this.mainShareId) this.$set(this, 'mainShareId', activeShare.id);
        this.activeShares.push(activeShare.id);
        if (isExtra) {
          activeShare.isExtra = isExtra;
          this.extraShare.push(activeShare);
        } else {
          this.$set(this, 'activeShareModel', activeShare);
        }
        return activeShare;
      },
      pushShare() {
        const vm = this;
        vm.$store.watch(state => state.ADD_SHARE_SIGN, (ADD_SHARE_SIGN_BEFORE, ADD_SHARE_SIGN_AFTER) => {
          try {
            for (let i = 0; i < ADD_SHARE_SIGN_AFTER.length; i += 1) {
              const data = ADD_SHARE_SIGN_AFTER[i];
              if (typeof data === 'string') {
                const zoneId = data;
                if (zoneId && zoneId === vm.id) {
                  vm.setData(vm.activeShares, true);
                  vm.$store.state.ADD_SHARE_SIGN.splice(i, 1);
                }
              }

              if (typeof data === 'object') {
                if (data.zoneId === vm.id) {
                  vm.setData(vm.activeShares, true, data.shareId);
                  vm.$store.state.ADD_SHARE_SIGN.splice(i, 1);
                }
              }
            }
          } catch (err) {
            console.log('ArfError from pushShare', err);
          }
        });
      },
      eventHandler() {
        this.$on('shareRenderDone', (result) => {
          this.sharesDone.push(result);
        });
      },
      pushGroupSSP() {
        if (this.groupSSP
         && this.groupSSP.addslot
         && this.groupSSP.listzone) {
          this.status = this.sharesDone;
          const zoneDetail = {};
          zoneDetail.id = this.id;
          zoneDetail.status = this.status;
          zoneDetail.css = this.outputCss;
          zoneDetail.addslot = this.groupSSP.addslot;
          zoneDetail.listzone = this.groupSSP.listzone;

          this.$store.dispatch('trackingZone', zoneDetail);
        }
      },
      trackingRenderStatus(renderDoneCallback) {
        const renderDoneCondition = (
        this.activeShareModel
        && (this.extraShare.length + 1) === this.sharesDone.length);

        if (renderDoneCondition && renderDoneCallback) {
          if (!this.done) {
            this.emitRenderDone();
            this.done = true;
            if (this.model.hookToRenderNextZone) this.model.hookToRenderNextZone();
          }
          renderDoneCallback();
        }
      },
      emitRenderDone() {
        this.$parent.$emit('zoneRenderDone');
      },
      generateIdExpand() {
        const isExits = document.getElementById(`zone-${this.current.id}`);
        if (!isExits) this.idExpand = '';
        else {
          const timeStamp = new Date().getTime();
          const randomNumber = Math.floor(Math.random() * 1000000);
          this.idExpand = `-${timeStamp}${randomNumber}`;
        }
      },
    },
  };
</script>

