<template>
  <!-- <div v-if="current.componentType === 'zone'">
    <zone v-if="!current.data.groupSSP" v-bind:model="current.data"></zone>
    <div v-else :ssp-addslot="current.data.groupSSP.addslot">
      <zone v-bind:model="current.data"></zone>
      <zone v-for="(zone, index) in current.data.zoneExtends" :key="index" v-bind:model="zone"></zone>
    </div>
  </div> -->
  <div v-if="activeZones.length > 0">
    <zone v-for="(zone, index) in activeZones" :key="index" v-bind:model="zone"></zone>
  </div>
  <div v-else>
    <banner v-for="(banner, index) in activeBanners" :key="index" v-bind:model="banner"></banner>
  </div>
</template>

<script>
import Zone from './components/Zone';
import Banner from './components/Banner';
import getCurrentChannelUrl from './vendor/util/Term/getCurrentChannelUrl';
import getlValueFromChannelVariable from './config/channelVariable';

export default {
  name: 'Arf',
  props: {
    model: {
      type: Object,
    },
  },
  data() {
    return {
      activeZones: [],
      activeBanners: [],
    };
  },
  components: { Zone, Banner },

  computed: {
    current() {
      return this.getData();
    },
  },
  created() {
    this.modified();
    window.addEventListener('locationchange', () => {
      console.log('watchURL');
      const env = this.$store.state.ENV;
      const url = getCurrentChannelUrl('pageUrl');
      const referrerUrl = getCurrentChannelUrl();
      const currentChannel = getlValueFromChannelVariable() || getCurrentChannelUrl('pageUrl');
      env.url = url;
      env.referrerUrl = referrerUrl;
      env.currentChannel = currentChannel;
      env.isUpdate = true;
      console.warn('checkUpdateChannel', currentChannel);
      this.$store.commit('INIT_ENV', env);
      this.$store.state.ZONE_BANNERS = {};
    });
  },
  beforeMount() {
    // this.fetchData();
    this.$parent.$on('pushData', (data) => {
      this.fetchData(data);
    });
    this.trackingRenderStatus(() => {
      this.$parent.$emit('renderDone');
    });
  },
  methods: {
    getData() {
      // const componentName = this.$root.$data.type;
      // const renderTo = this.$root.$el.id;
      // console.log('renderTo', renderTo);
      // if (componentName === 'zone') return { data: this.$store.state.ZONE_DATA[renderTo].propsData.model, componentType: 'zone' };
      // return { data: this.$store.state.BANNER_DATA[renderTo].propsData.model, component: 'banner' };

      // const zoneData = this.$parent.$data.data.propsData.model;
      // if (zoneData.groupSSP) {
      //   zoneData.groupSSP = JSON.parse(zoneData.groupSSP);
      //   zoneData.zoneExtends = [];
      //   for (let index = 0; index < zoneData.groupSSP.listzone.length; index += 1) {
      //     const zoneId = zoneData.groupSSP.listzone[index];
      //     if (zoneId === zoneData.id) continue;
      //     const zone = this.$store.state.ZONE_DATA[zoneId];
      //     if (zone) zoneData.zoneExtends.push(zone.propsData.model);
      //   }
      // }
      // return {
      //   data: zoneData,
      //   componentType: this.$parent.$data.type,
      // };
      return this.$root.$data.arfs;
    },
    trackingRenderStatus(renderDoneCallback) {
      this.$on('zoneRenderDone', () => {
        console.log('renderDoneApp');
        renderDoneCallback();
      });
    },
    fetchData(data) {
      // const arfs = this.current;
      // for (let index = 0; index < arfs.length; index += 1) {
      //   const data = arfs[index];
      //   if (data.type === 'zone') {
      //     this.activeZones.push(data);
      //   } else {
      //     this.activeBanners.push(data);
      //   }
      // }
      if (!data) return;
      if (data.type === 'zone') {
        this.activeZones.push(data);
      } else {
        this.activeBanners.push(data);
      }
    },
    modified() {
      /* eslint-disble */
      /* These are the modifications: */
      history.pushState = (f => function pushState() {
        const ret = f.apply(history, arguments);
        // window.dispatchEvent(new Event('pushState'));
        window.dispatchEvent(new Event('locationchange'));
        return ret;
      })(history.pushState);

      history.replaceState = (f => function replaceState() {
        const ret = f.apply(history, arguments);
        // window.dispatchEvent(new Event('replaceState'));
        window.dispatchEvent(new Event('locationchange'));
        return ret;
      })(history.replaceState);

      window.addEventListener('popstate', () => {
        window.dispatchEvent(new Event('locationchange'));
      });
      /* eslint-enable */
    },
  },
};
</script>
